@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iran-yekan-regular;
  src: url(../public/fonts/IRANYekanXFaNum-Regular.ttf);
}

@font-face {
  font-family: iran-yekan-bold;
  src: url(../public/fonts/IRANYekanXFaNum-Bold.ttf);
}

.h-full-vh {
  height: 100vh;
}

.home-page {
  height: calc(100vh - 300px);
}

.hidde-expend::-ms-expand {
  display: none;
}
